@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  @keyframes smooth-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  img {
    animation: smooth-opacity 0.3s ease-out;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  /* Pattern Tratteggiato Accordion Crowdfunding Timeline Project Magazzino */
  .bg-dotted-pattern {
    background-image: linear-gradient(to right, var(--muted) 50%, transparent 50%);
    background-size: 8px 1px;
    background-repeat: repeat-x;
  }
}